/* * {
  box-sizing: border-box;
} */


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #363636;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(39, 141, 42);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  height: auto;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: grey;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.chat-popup{
  position: absolute;
  right: 5px;
  bottom: 10px;
}
/* The chat window*/
.chat-popup form{
  margin-left: auto;
}
/* Display the chat histroy */
.chat-histroy{
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  max-width: 300px;
  min-height: 400px;
  max-height: 400px;
  background-color: white;
  box-shadow: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  height: auto;
  overflow-y: auto;
}

/* Handle messages */
[class*='from']{
    /* grid-column: 1 / span 2; */
    max-width: 90%;
    justify-content: space-between;
    display: flex;
    border-radius: 20px;
    height: fit-content;
    margin: 5px 0;
}
/* Push the messages all the way to the top of the window */
[class*='from']:last-child{
  margin-bottom: auto;
}
/* Change bot's messagess color*/
.from-bot{
    background-color: rgb(241,240,240);
}
/* Adjust the texts' format*/
.from-bot p, .from-user p{
  margin: 5px;
  align-self: center;
  width: fit-content;
  padding: 0 10px;
}
/* Adjust the texts' format*/
.from-bot p{
  padding-left: 10px;
}
/* Adjust the texts' format*/
.from-user{
  background-color: rgb(0,132,255);
  margin-left: auto;
}

.btn span{
  padding: 5px 0;
}

#map{
  width: 40%;
}