body  {
  margin: auto;
  /* background-color: rgb(252, 252, 249); */
  width: 95vw;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  /* overflow: hidden; */
  padding: 0 3rem;
}
a {
  color: inherit;
  text-decoration: none;
  color: rgb(73, 73, 73);
}
.index-img {
  width: 25.5vw;
  height: 14.5vw;
  background:rgb(33, 33, 33);
  /* background-image: url(../frame.png) */
  padding:18px 18px 18px 18px;
  border: 1.3px solid rgb(102, 101, 101);
  box-shadow: 0px 2px 10px 0px silver;
  box-shadow: 12px;
  /* background-image: url(../frame.png);
  background-size: cover; */
	/*clear: both;
	width: 29vw;
  height: 17vw;
  background-color: transparent;
  
  background-size: cover;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto); */
}
.index-info {
  padding-top: 1em;
}
.item-preview{
    /* width: 20%; */
    /* max-width: 250px; */
    /* box-sizing: border-box; */
    
    /* box-shadow: 10px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    /* margin-bottom: 10px; */
    list-style: none;
    /* padding: 10px; */
}
/* .item-preview p{
    padding: 0;
    margin: 0;
} */
.item-preview-image{
  width: 25.5vw;
  height: 14.5vw;
  /* padding: 1.5em; */
  background-color: transparent;
  border: 1px solid rgb(53, 53, 53);
  /* align-self: center; */
  /* grid-auto-columns: minmax(100px, auto); */
  grid-auto-rows: minmax(300px, auto);
  
  /* z-index: 4; */
    /* width: 30vw; */
    /* height: 20vw; */
    /* border-radius: 10px; */
}


.index-wrapper {
  padding-top: 1em;
  display: grid;
  grid-template-columns:repeat(3, 3fr);
  row-gap: 2em;
  column-gap: 1em; 
}
@media only screen and (max-width: 800px){
  .index-info{
    font-size: 10px;
  }
  .index-img{
    padding:16px 16px 16px 16px;
  }
}

.index-create-link{
  padding: 1em;
  margin-bottom: 10px;
}