.profile-dropdown-main {
    /* padding-left: 1em; */
    z-index: 10;
}

.profile-dropdown-menu {
    /* display: none; */
    position: absolute;
    border: 1px solid lightgray;
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* left: -70px; */
    width: 190px;
    top: 25px;
    background-color: white;
    z-index: 6;
}

.profile-clicked {
    display: block;
    z-index: 5;
}

.profile-dropdown-menu > li {
    margin-bottom: 25px;
    font-size: 15px;
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    color: gray;
}

.profile-dropdown-menu > li > button {
    background: white;
    border: none;
    font-size: 15px;
}

.profile-dropdown-header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 15px;
    padding-top: 10px;
    text-align: center;
}
.nav-profile-picture{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #82d88c;
  margin-top: -2px;
}
.nav-profile-picture:hover{
    cursor: pointer;
}

.logged-in-navbar {
    color: rgb(51, 51, 51);
    position: absolute; 
}
.logged-in-navbar:hover {
    color: black;
}
.nav-right-div {
    position: relative;
    display: felx;
    margin-right: 180px;
    padding-left: 2em;
    padding-bottom: 1em;
}