.plutus-logo-nav {
  width: 40vw;
  max-width: 300px;;
  margin-left: 15px;
  display: inline;
}
:root {
  --mainColor: #353636;
}
.loggedin-navbar, .loggedout-navbar {
padding-bottom: 2%;
padding: 1%;
}
.nav-button-duo, .nav-logout-div {
  float: right;
  padding: 2%;
}
.nav-button {
  padding-left: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  height: 50vh;
  /* justify-content: center; */
  color: var(--mainColor);
  text-decoration: none;

}
.nav-button:hover {
  cursor: pointer;
  /* font-size: 1.5em; */
  -webkit-text-stroke: 1px var(--mainColor);
}
/* @supports not(-webkit-text-stroke: 1px red) {
  .nav-button:hover {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
} */
.nav-logout-button {
  
}

div[class*=box-lgout] {
    height: 33.33%;
    width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
}
/* .box { background-color: #3C3C3C; } */
.logout-btn {
    line-height: 25px;
    height: 25px;
    text-align: center;
    width: 85px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    color: rgb(78, 78, 78);
}
.logout-btn {
    color: rgb(78, 78, 78);
    transition: all 0.5s;
    position: relative; 
}
.logout-btn span {
    z-index: 2; 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;   
}
.logout-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(61, 61, 61, 0.2);
    background-color: rgba(255,255,255,0.1);
}
.logout-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(61, 61, 61, 0.2);
    background-color: rgba(255,255,255,0.1);
    color: rgba(231, 232, 233, 0);
}
.logout-btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.logout-btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
  /* color: rgba(231, 232, 233, 0); */
}
.nav-shadow {
  position: relative;
  height: 13px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  bottom: 10px
}
.hidden{
  display: none;
}

.nav-search-div {
  
  align-items: center;
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  max-width: 80vw;
  width: 100px;
  /* padding-left: 2em; */
  padding-right: 1em;
  padding-bottom: 5px;
  /* margin-left: 50px; */
  float: right;
  margin-top: 3.5%;
  /* overflow: hidden; */

}

@media screen and (min-width: 500px) {
  .nav-search-div {
    padding-left: 2em;
    /* margin-top: 5%; */
  }
}
@media screen and (min-width: 700px) {
  .nav-search-div {
    padding-left: 10em;
    /* margin-top: 5%; */
  }
}
@media screen and (min-width: 900px) {
  .nav-search-div {
    padding-left: 20em;
    /* padding-bottom: 15px; */
    
  }
}

@media screen and (min-width: 1500px) {
  .nav-search-div {
    padding-left: 25em;
    margin-top: -0.1px;
    padding-top: 1.5em;
  }
}

