.splash-body{
  background-color: black;
  margin: 0;
}
.logo-container {
  display: flex;
  animation: fadeIn 3s;
  animation-fill-mode: inherit;
}
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.plutus-logo {
  width: 70vw;
  margin-top: 23%;
  margin-left: 15%;
  z-index: 11;
}

.plutus-logo:hover {
  cursor: pointer;
}