.hidden {
    display: none
}

.nav-item {
    cursor: pointer;
}
.nav-tabs {
    margin-left: 100px;
}

.user-tab{
    width: 90%;
    margin: 100px auto;
}

.items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 90px;
}

.item-card {
    width: 300px;
    height: 350px;
    margin: 15px;
    border: 1px solid #1abc9c;
    border-radius: 5%;
    padding-top: 2%;
}

.item-card .item-card-body > img {
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 5%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.item-card .item-card-body > p {
    margin: 0;
    font-weight: bolder;
}

.item-card-title {
    width: 87%;
    padding-left: 16%;
}

.item-card-text {
    width: 85%;
    padding-left: 16%;
}

.nav-link:hover{
    cursor: pointer;
}

.user-notifications-ul {
    list-style: none;
}


.user-notifications-ul > .unread {
    font-weight: bolder;
    color: black;
    cursor: pointer;
}
